$breakpoints: (
	tablet: 700px,
	laptop: 1040px,
	desktop: 1240px,
);

// Resposive function
@mixin responsive($breakpoint) {
	@media screen and (min-width: map-get($breakpoints, $breakpoint)) {
		@content;
	}
}